:javascript
  var topic = JSON.parse('#{@topic.to_json}');


%h3= @topic.question

- if can? :vote_up, @topic
  - if current_user.voted_for?(@topic)
    %p STARED
  -else
    = link_to 'Star', vote_up_topic_path(@topic), :method => :post, class: "form-button"

%br 

- if @topic.yt_video_id
  #player
  
%br
= link_to "Edit", edit_topic_path(@topic)
|
= link_to "Delete", topic_path(@topic), :method => "delete"

%p
  by
  = @topic.user.name
%p 
  Email :
  = @topic.user.email


- if can? :create, @answer
  %h3 Form to Add a Answer
  / %ul.errors
  /   - @answer.errors.full_messages.each do |error|
  /     %li= error
  = form_for(@answer) do |f|
    = hidden_field_tag :topic_id, @topic.id
    = f.text_field :answer, placeholder: "Answer Question"
    %br/
    .comments-form-button
      = f.submit

- @topic.answers.plusminus_tally.order('plusminus_tally DESC').each do |answer|
  .votes
    - if can? :vote_up, :vote_down, answer
      %br
      - if current_user.voted_against?(answer)
        %p You didnt find this helpful
      - elsif current_user.voted_for?(answer)
        %p You found this helpful
      - else 
        %p Do You find this helpful ?
        = link_to 'YES', vote_up_answer_path(answer), :method => :post, class: "form-button"
        = link_to 'NO', vote_down_answer_path(answer), :method => :post, class: "form-button"
  %p 
    Answer Given by 
    = answer.user.name
  = answer.answer
  - if !!answer.votes
    %p
      Score : 
      = (answer.votes_for - answer.votes_against)
  %br
  - if can? :edit, answer
    = link_to 'Edit Answer', edit_answer_path(answer)
  - if can? :destroy, answer
    = link_to 'Delete Answer', answer, method: :delete
  %hr





