%h3= @topic.question

- if @topic.yt_video_id
  - if (yt_client.my_video(@topic.yt_video_id) rescue nil )
    = raw yt_client.my_video(@topic.yt_video_id).embed_html_with_width(500)
  - else
    Video no longer exists


= link_to "Edit", edit_topic_path(@topic)
|
= link_to "Delete", topic_path(@topic), :method => "delete"

%p
  by
  = @topic.user.name
%p 
  Email :
  = @topic.user.email