%h3= @topic.question


= raw yt_client.my_video(@topic.yt_video_id).embed_html_with_width(700)


= link_to "Edit", edit_topic_path(@topic)

%p
  by
  = @topic.user.name
%p 
  Email :
  = @topic.user.email