:javascript
  var topic = JSON.parse('#{@topic.to_json}');

.question-side-bar.cf
  .question-top-bar
    .star-location
      - if can? :vote_up, @topic
        - if current_user.voted_for?(@topic)
          .star-image=image_tag 'starred.png'
        -else
          = link_to vote_up_topic_path(@topic), :method => :post, class: "form-button",  title: "STAR QUESTION", id: "star_question_icon", "data-placement" => "top" do
            .star-image=image_tag 'star.png'

    .user-link
      %h4
        =link_to @topic.user, title: "VIEW USER PROFILE", id: "topic_user_profile_icon", "data-placement" => "top"  do
          .avatar-show=image_tag avatar_url(@topic.user)
          = @topic.user.name
    
    - if can? :edit, @topic
      .links-user
        = link_to "Edit", edit_topic_path(@topic)
        |
        = link_to "Delete", topic_path(@topic), :method => "delete"

.question-content.cf
  %h2= @topic.question
  .question-video.cf
    
    - if @topic.yt_video_id
      #player

  - if @topic.answers.plusminus_tally.first
    .top-answer.cf
      - top = @topic.answers.plusminus_tally.order('plusminus_tally DESC').first
      %h4= top.answer
      .votes
        - if can? :vote_up, :vote_down, top
          %br
          - if current_user.voted_against?(top)
            .vote-thumb=image_tag "065.png"
          - elsif current_user.voted_for?(top)
            .vote-thumb=image_tag "064.png"
          - else 
            .vote-thumb
              = link_to vote_up_answer_path(top), :method => :post, class: "form-button" do
                =image_tag "064.png"
            .vote-thumb
              = link_to vote_down_answer_path(top), :method => :post, class: "form-button" do
                =image_tag "065.png"


  .other-answers.cf
    .answer-form-topics
      - if can? :create, @answer
        %h2 Add a Answer
        / %ul.errors
        /   - @answer.errors.full_messages.each do |error|
        /     %li= error
        .devise-form
          = form_for(@answer) do |f|
            = hidden_field_tag :topic_id, @topic.id
            = f.text_field :answer, placeholder: "Answer Question"
            %br/
            .comments-form-button
              .form-button= f.submit
    .answer-paginated
      =render "answer"





