%h2= @user.name


= link_to 'INVITE', new_user_invitation_path

%p User has posted #{@user.topics.count} questions 

%p User has answered #{@user.answers.count} questions

%p User has STARED #{@user.starred.count} questions