!!!
%html
  %head
    %title SurfEd
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    %link{href: "http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600,800", rel: "stylesheet", type: "text/css"}/
    %script type="text/javascript" src="jquery-2.0.3.js"

    = csrf_meta_tags
  %body
    .surf-container
      .site-header.cf
        %h1=link_to "SURF.ED", root_path
        .user-login
          / ask question
          .icon
            = link_to "ASK QUESTION", new_topic_path
          
          .icon    
            %a.search SEARCH

          - if user_signed_in?   
            / edit
      
            
                
            / logout
         
            .icon
              = link_to destroy_user_session_path, method: :delete do
                LOG OUT

            .avatar-main.icon
              = link_to current_user do
                = image_tag avatar_url(current_user)      

          - else
            .icon
              = link_to 'LOGIN', new_user_session_path
          
          
    
          
      .overlay
        %span.close.cf x
        %h1.cf SURF.ED
        %h1.cf SEARCH
        = form_tag searches_path do
          .input-box.col-md-6
            = text_field_tag :query, nil, :class => 'search-input input-box', :placeholder => 'search...', :autocomplete =>"off", :autofocus => true
            .hide-me= submit_tag "submit"
      .head.side-bar-nav      
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash_#{name}"
        
      .main
        .inner-container
          = yield





